footer {
	margin-top:100px;
	padding:65px;	
	padding-top:50px;
	padding-bottom:50px;
	background-color: $card-secondary-color;
	color:white;
	font-family:'Open Sans',sans-serif;
	font-size:rem-calc(16px);
	.address {
		p {
			line-height: 0.75;
		}		
	}
}
