div.nav {
	background-color: $card-divider-two;
	font-family: $landing-subtitle-font;
	font-size:2rem;
	a {
		color:white;
		// padding:5px;				
		&:hover {
			background-color: lighten($card-divider-two,5%);
		}
		&.active {
			background-color: lighten($card-divider-two,5%);
			text-decoration:underline;
		}		
		@include breakpoint(small only) {
			font-size:1.5rem;
			text-align:right;
		}		
	}
	.float-right {	
		font-size:1.5rem;
		line-height:2em;
	}	
	.menu-bar-title {
		display:inline-block;
		color:white;
		font-size:1.5rem;
		vertical-align:middle;		
	}
	.menu-icon {
		vertical-align:middle;
	}
	.dropdown {
		background-color: darken($card-divider-two,15%);	
	}
}