<div class="bio-audio">
{{if not (eq .date "25")}}
<audio 
	class="advent-audio "
	src="https://s3-eu-west-1.amazonaws.com/itma.advent.2016/audio/{{.audio}}.mp3" 
	type="audio/mpeg">
</audio>
{{else}}
<div class="playlist__top-border"></div>
<div class="row">
	<div class="small-12 columns" align="center">
		<h1 class="playlist__title">ITMA Advent 2016 Playlist</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns playlist__nowplaying">
		<span class="playlist__nowplaying_item">{{(index .playlist 0).desc}}</span>
	</div>
</div>
<audio 
	id="playlist-player"
	class="advent-audio"
	src="https://s3-eu-west-1.amazonaws.com/itma.advent.2016/audio/{{(index .playlist 0).url}}.mp3" 
	type="audio/mpeg">
</audio>

<div class="row">
	<div class="small-6 columns">
		<button class="button expanded small playlist__button previous">Previous</button>
	</div>
	<div class="small-6 columns">
		<button class="button expanded small playlist__button next">Next</button>
	</div>
</div>
<ul class='playlist'>
	{{range $index, $el := .playlist}}
		<li  class='playlist-item {{if (eq $index 0)}}is_playing{{end}}' data-index="{{$index}}" data-title="{{$el.desc}}" data-url="{{$el.url}}">
			<div class="row">
				<div class="small-12 columns">
					<i class="fa fa-play {{if (eq $index 0)}}is_playing__icon{{end}}" data-url-icon="{{$el.url}}" aria-hidden="true"></i>&nbsp;{{add $index 1}}.&nbsp;{{$el.desc}}
				</div>
			</div>
		</li>
	{{end}}
</ul>
{{end}}
</div>
