<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "app.css" }}" />
</head>
<body>
	<!-- <main> -->
		<div class="header">
			<div class="row">
				<div class="small-10 medium-3 columns img-col show-for-small-only">
					<a href="http://www.itma.ie" target="_blank">
						<p class="itma-text float-center">Irish Traditional Music Archive</p>
						<p class="itma-text float-center">Tasice Cheol Ducháis Éireann</p>
					</a>
					<img class="itma-logo float-center" src="/images/white_logo.png" alt="">

				</div>			
				<div class="small-10 medium-7 columns">
					<div class="small-10 columns">
						<a href="/"><h1 class="landing-title">Ríogh&hyphen;Mhná an Cheoil</h1></a>
					</div>
					<div class="small-10 columns">
						<a href="/"><h2 class="landing-subtitle">Women in Irish Traditional Music</h2></a>				
					</div>
					<div class="small-10 columns">
						<a href="/"><h3 class="landing-subtitle">Decade of Centenaries (1912 &ndash; 1922)</h3></a>					
					</div>
				</div>
				<div class="small-10 medium-3 columns img-col show-for-medium">
					<img class="itma-logo float-center" src="/images/white_logo.png" alt="">
					<a href="http://www.itma.ie" target="_blank">
						<p class="itma-text float-center">Irish Traditional Music Archive</p>
						<p class="itma-text float-center">Tasice Cheol Ducháis Éireann</p>
					</a>
				</div>
			</div>
		</div>